.btn--error {
  @extend .box-design;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  background-color: $red;
  height: 35px;
  margin-bottom: 15px;
  &:active {
    @extend .active;
  }
}

.btn--default {
  @extend .box-design;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  background-color: $lightblue;
  height: 35px;
  margin-bottom: 15px;
  &:active {
    @extend .active;
  }
}

.btn--success {
  @extend .box-design;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  background-color: $green;
  height: 35px;
  margin-bottom: 15px;
  &:active {
    @extend .active;
  }
}

.btn--error {
  @extend .box-design;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  background-color: $red;
  height: 35px;
  margin-bottom: 15px;
  &:active {
    @extend .active;
  }
}

.btn--warning {
  @extend .box-design;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  background-color: $orange;
  height: 35px;
  margin-bottom: 15px;
  &:active {
    @extend .active;
  }
}

.btn--info {
  @extend .box-design;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  background-color: $purple;
  height: 35px;
  margin-bottom: 15px;
  &:active {
    @extend .active;
  }
}

button[type="submit"] {
  @media (min-width: $break-l) {
    width: 100% !important;
  }
}
