form {
  @media (min-width: $break-l) {
    float: right;
    margin-right: 30px;
    margin-bottom: -15px;
  }
}

.form__label--hidden {
  display: none;
}

.form__input {
  @extend .display-center;
  font-weight: bold;
  color: $darkgray;
  border: none;
  border-bottom: 5px solid $bluegreen;
  margin-bottom: 25px;
  padding-bottom: 10px;
  padding-left: 10px;
  margin-left: 17px;
  width: 88%;
  &:focus {
    outline: none;
  }
}
