// **********************************************
// _grid.scss
// styles related to the grid system and
// main container.
// major grid styles have been added here for you
// but additional styling may be needed
// **********************************************

// use a for loop perhaps??
.theme__colors {
  margin-left: 7px;
  padding-left: 10px;
  @include media-fix-grid($break-l, inline-block, 15% !important)
}

.grid__row {
  background-color: white;
  padding: 35px 0;
  @media (min-width: $break-l) {
    overflow: auto;
    text-align: center;
    padding-bottom: 70px;
    margin-bottom: -60px;
  }
}

.grid__col--6 {
  @media (min-width: $break-l) {
    width: 48.5% !important;
  }
}

.grid__col--6:nth-child(1) {
  @media (min-width: $break-l) {
    float: left;
    margin-left: 13.5px;
  }
}

.grid__col--6:nth-child(2) {
  @media (min-width: $break-l) {
    float: right;
    margin-left: 2px;
    margin-right: 8px;
  }
}

.grid__col--4 {
  @include media-fix-grid($break-l, inline-block, 31.85% !important)
}

.grid__col--3 {
  @media (min-width: $break-l) {
    width: 23.6875% !important;
  }
}

.grid__col--5, .grid__col--7 {
  @media (min-width: $break-l) {
    display: inline-block;
  }
}

.grid__col--5 {
  @media (min-width: $break-l) {
    width: 33% !important;
  }
}

.centered {
  @media (min-width: $break-l) {
    //display: flex;
    margin: 0 auto;
  }
}

.grid__col--7 {
  @media (min-width: $break-l) {
    width: 63.75% !important;
  }
}

.grid__col--8 {
  @include media-fix-grid($break-l, inline-block, 64.6875% !important)
}

.grid__col--12.theme__colors {
  @extend .common-padding;
  @extend .box-design;
  background-color: $bluegreen;
  @media (min-width: $break-l) {
    width: 98% !important;
  }
}

.grid__col--6.theme__colors {
  @extend .common-padding;
  @extend .box-design;
  margin-bottom: 7px;
  background-color: $darkblue;
}

.grid__col--4.theme__colors {
  @extend .common-padding;
  @extend .box-design;
  margin-bottom: 7px;
  background-color: $lightblue;
}

.grid__col--3.theme__colors {
  @extend .common-padding;
  @extend .box-design;
  margin-bottom: 7px;
  background-color: $lightpurple;
}

.grid__col--5.theme__colors {
  @extend .common-padding;
  @extend .box-design;
  margin-bottom: 7px;
  background-color: $lightgreen;
}

.grid__col--7.theme__colors {
  @extend .common-padding;
  @extend .box-design;
  background-color: $lightred;
}

.grid__col--8.theme__colors {
  @extend .common-padding;
  @extend .box-design;
  margin-bottom: 7px;
  background-color: $orange;
}
