.card {
  @media (min-width: $break-l) {
    float: left;
    text-align: left;
  }
}

.headline--primary {
  margin-left: 25px;
  width: 75%;
  font-weight: bold;
  color: $bluegreen;
}

.headline--secondary {
  color: $headline;
  font-weight: normal;
}

.link {
  font-weight: bold;
  text-decoration: none;
  list-style-type: none;
  color: $lightblue;
}

.blockquote {
  color: $darkgray;
  font-style: italic;
  padding-left: 17px;
  border-left: 7px solid $bluegreen;
  border-radius: 5px;
  font-size: $third-common-size;
  margin-bottom: 60px;
}
