* {
  /* Insert CSS code here */
  @include font-face($didact-gothic-url, $main-font)
}

a {
  /* Insert CSS code here */
}

p {
  /* Insert CSS code here */
  font-size: $common-size;
  color: $main-color;
}

ul {
  /* Insert CSS code here */
}

.container {
  border: 10px solid white;
}
