* {
  /* Insert CSS code here */
  font-family: 'Didact Gothic', sans-serif;
}

a {
  /* Insert CSS code here */
}

.link {
  font-weight: bold;
  text-decoration: none;
  list-style-type: none;
  color: $lightblue;
}

p {
  /* Insert CSS code here */
  font-size: 110%;
  color: #878787;
}

ul {
  /* Insert CSS code here */
}
